# Configuração do Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://usuario:senha@localhost:5432/integracao_saude?schema=public"

# Token de Acesso ao GitHub (Para CI/CD ou operações de Git)
# GITHUB_TOKEN=seu_token_aqui
