# Dependencies
node_modules
/dist

# Environment variables
.env
.env.local

# Prisma
/generated/prisma
*.db
*.db-journal

# IDEs
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# NestJS
.nest
thumbs.db
